.section, .footer, .title, .subtitle, body{
    background-color:rgb(37, 36, 41);
    color: whitesmoke; 
}

.roundBox{
    background-color: rgba(206, 236, 241, 0.685);
    border: 5px solid rgba(192, 192, 192, 0.589);
    /*box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 1), 2px 2px 2px 2px rgba(0, 255, 0, 1);*/
    border-radius: 5%;
    width: 20%;
    height: 0;
    padding-bottom: 10%;
}
.profile{
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color:rgb(37, 36, 41); 
    background-size: cover;   
}

#profileImgWithGradientBorder{
    border-radius: 50%;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQE7N2or1bGgPA/profile-displayphoto-shrink_800_800/0/1581608469089?e=1642636800&v=beta&t=5hs2c3fLDFHEetSeiJMLhvF7e8_Y6DpRIcn_1_B_PNI), 
    linear-gradient(180deg, rgba(0,209,178,1) 0%, rgba(0,210,204,1) 55%, rgba(0,212,255,1) 100%);
}
.headshot {
	flex-shrink: 0;
	margin: 0px;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(2px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	/*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);*/
}

.leftColumn{
    background-color:rgb(37, 36, 41); 
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:20px;
    padding-bottom: 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(0,209,178,1) 0%, rgba(0,210,204,1) 55%, rgba(0,212,255,1) 100%) 10 round;
    display: flex;
    margin-top: 20px;
}

.middleColumn{
    background-color:rgb(37, 36, 41);
    padding-bottom: 0px; 
    /*padding-bottom: 32px;*/
    /*margin-bottom: 20px;*/
    /*border-bottom: 20px solid transparent;*/
    display: flex;
    margin-top: 20px;
}

.rightColumn{
    background-color:rgb(37, 36, 41); 
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:20px;
    padding-bottom: 0px;
    border-style: solid;
    border-image: linear-gradient(270deg, rgba(0,209,178,1) 0%, rgba(0,210,204,1) 55%, rgba(0,212,255,1) 100%) 10 round;
    display: flex;
    margin-top: 20px;
}

.profileTitle{
    padding-bottom:2px;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 7px;
    background: linear-gradient(90deg,rgba(0,212,255,1) 0%,  rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*-webkit-text-stroke: 2px rgba(255, 255, 255, 0);*/
    
}

.textGradiantPrimary, strong{
    padding-bottom: 7px;
    background: linear-gradient(90deg, rgba(0,209,178,1) 0%,  rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profileColumns{
    display: table;
}

.backgroundGradientSecondary{
    background: linear-gradient(90deg, rgb(0, 125, 209) 0%,  rgb(183, 0, 255)100%);
}

button.gradientSecondary {
    font-weight: bold;
    font-size: 20px;
    border: 0px;
    padding: 0%;
    vertical-align: 0%;
    color: rgba(10, 250, 214, 0.767);
    text-decoration: underline;
    background-color: transparent;
}

button.gradientSecondary:hover{
    color: rgba(0,212,255,1);
}

.gradient-border-wrap-primary{
    max-width: 60%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(90deg, rgba(0,209,178,1) 0%,  rgba(0,212,255,1) 100%);
    padding: 3px;
}

.modal-content{
    padding: 6px;
    border-radius: 3%;
    background-color:rgb(37, 36, 41);
    color:whitesmoke;
}

.modal-content > div > p{
    margin-bottom: 5px;
}

.panel-tabs > a{
    color: whitesmoke;
} 

.modalContentWrapper{
    padding: 1rem;
    position: relative;
    padding: 6px;
    border-radius: 3%;
    background: linear-gradient(180deg, rgba(0,209,178,1) 0%, rgba(0,210,204,1) 55%, rgba(0,212,255,1) 100%);
}

@media only screen and (max-width: 600px) {
    .leftColumn{
      order: 2;

    }
    .middleColumn{
      order: 1;

    }
    .rightColumn{
      order: 3;
    }
    .profileColumns{
        width: 100%;
        margin: 0%;
    }
}



